.div_holder{
    display: flex;
    justify-content: space-around;
}

body{
    background-color:  OKLCH(30.2% 0.056 229.695);
}

.cards{

}

h1{
    text-align: center;
    color: bisque;
}

img{
   height: auto;
    width: 400px;
    display:block;
    margin : 0 auto;
}